
.container-table  {
background:url("../images/common_pro_con_bg.png") no-repeat scroll -2000px 0 transparent;
float:left;
margin:15px 0 25px;
padding-top:6px;
/*width:659px;*/
width:610px;
}
.container-table .c_left {
border-right:1px solid #CCCCCC;
font-size:12px;
font-weight:bold;
vertical-align:top;
width:100px;
}
.container-table .no_line {
border-top:medium none;
}
.container-table .r_name {
background:none repeat scroll 0 0 #FFFFFF;
font-size:12px;
font-weight:bold;
}
.container-table .wrap-table {
background:url("../images/common_pro_con_bg.png") no-repeat scroll -3000px bottom transparent;
float:left;
padding-bottom:3px;
/*width:659px;*/
width:610px;
}
.container-table table {
border-left:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;
float:left;
}
.container-table td {
border-top:1px solid #CCCCCC;
color:#333333;
font:11px/20px arial;
padding:5px 10px;
}
.container-table table td table.small
{
	
}
