/*
                                __      _ _                   _   
                               / _|    | (_)                 | |  
 _ __ ___   __ _ _ __ ___ ___ | |_ ___ | |_  ___   _ __   ___| |_ 
| '_ ` _ \ / _` | '__/ __/ _ \|  _/ _ \| | |/ _ \ | '_ \ / _ \ __|
| | | | | | (_| | | | (_| (_) | || (_) | | | (_) || | | |  __/ |_ 
|_| |_| |_|\__,_|_|  \___\___/|_| \___/|_|_|\___(_)_| |_|\___|\__|
                                                                  
*/

/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

/* HTML ELEMENTS */
/*body { font:62.5% Georgia,'Times New Roman',serif; letter-spacing:1; }*/

/* COMMON CLASSES */
.bannerbreak { clear:both; }

/* HEADER */
/*#bannerheader { height:600px; }*/
/*.headerimg { background-position: center top; background-repeat: no-repeat; width:100%; height:600px; position:absolute; }*/

/* NAVIGATION */
#bannernav-outer { height:110px; padding-top:11px; position:relative; top:24px; background-image:url("../images/banner/headerbg.png"); }
#bannernavigation { height:100px; width:960px; margin:0 auto; background-image:url("../images/banner/logo.png"); background-position:top left; background-repeat:no-repeat; }

/* SEARCH */
#bannersearch { background-color:#051733; float:right; width:220px; padding:10px; }
#bannersearchtxt { padding:3px; width:150px; }
#bannersearchbtn { border:1px solid #eee !important; background-color:#CD2B3A; color:#eee; padding:3px; margin-left:5px; }

/* MENU */
#bannermenu { position:relative; top:85px; }
#bannermenu ul { list-style:none; }
#bannermenu ul li { display:inline; font-variant:small-caps; font-size:12px; }
#bannermenu ul li a { color:white; text-decoration:none; font-weight:bold; padding-right:20px; }
#bannermenu ul li a:hover { text-decoration:underline; }

/* HEADER TEXT */
#bannerheadertxt { width:960px; margin:0 0 0 295px; clear:both; position:relative; top:10px; }
#bannerfirstline { background-image:url("../images/banner/textbg.png"); color:#333; font-size:40px; padding:4px 13px 7px; float:left; display:block; }
#bannersecondline { background-image:url("../images/banner/textbg.png"); color:#CD2B3A; text-decoration:none; font-size:60px; padding:0 13px 10px; float:left; display:block; clear:both; }
#bannersecondline:hover { text-decoration:underline; color:#7F000C; }

.bannerpictured { background-color:#CC3333; color:#FFF; font-size:12px; padding:9px 16px; text-transform:uppercase; float:left; display:block; clear:both; margin-top:10px; }
.bannerpictured a { font-size:16px; font-style:italic; letter-spacing:0; text-transform:none; color:#FFF; text-decoration:none; }
.bannerpictured a:hover { text-decoration:underline; }

/* CONTROLS */
.bannerbtn { height:32px; width:32px; float:left; cursor:pointer; }
#bannerback { background-image:url("../images/banner/btn_back.png"); }
#bannernext { background-image:url("../images/banner/btn_next.png"); }
#bannercontrol { background-image:url("../images/banner/btn_pause.png"); }

/* HEADER HAVIGATION */
#bannerheadernav-outer { position:relative; top:400px; margin:0 auto; width:960px; }
#bannerheadernav { padding-left:864px; }

/* CONTENT */
#bannercontent { color:#575757; background-color:#eee; }
#bannercontent p { padding:10px 20px; font-size:16px; width:960px; margin:0 auto; }
#bannercontent p a { text-decoration:none; color:#CD2B3A; }
#bannercontent p a:hover { text-decoration:underline; color:#7F000C; }