@CHARSET "UTF-8";

#copyright {
    float:right;
    margin-right:5px;
}
#footer {
    background:url('/images/footer_en3.png') bottom left no-repeat;
    padding:5 10;
    border-top:1px solid #c0c0c0;
    font-size:11px;
    color:white;
}
#footer a {
    color: white;
}

/* ======================== */
html {
    overflow-y: scroll;
}
body {
	padding: 0px;
	margin: 0px;
    font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	background: url("/images/background_top.gif") top left repeat-x;
	color: #4d4d4d;
    cursor: default;
}
table {
    font-family: "Lucida Grande", Lucida, "Trebuchet MS", Verdana, Helvetica, sans-serif;
	font-size: 14px;
}
form { 
	margin: 0px;
	padding: 0px;	
}
button {
    height:40px;
}
input,select,textarea {
    border: 1px solid #c0c0c0;
    padding-left:2px;
    color: #3d3d3d;
    margin-bottom:3px;
}
textarea {
    font-family: "Nimbus Sans L", "FreeSans", arial;
	font-size: 13px;
}
input:focus, textarea:focus {
    background:#A7CFFF;
}
a {
	text-decoration: none;
	color: blue;
}
a:hover {
    text-decoration: underline;
}
form {
	margin: 0px;
	padding: 0px;
}
p {
	margin: 0px;
	padding: 0px 0px 15px 0px;
	color: #4d4d4d;
	text-align: justify;
}
ul, li{margin:0; border:0; padding:0; list-style:none;}
#tos li {
    list-style: decimal;
}
h1 {
    color: darkblue;
	font: bold 20px/28px 'Trebuchet MS', Arial;
	margin-bottom: 10px;
    margin-top:0px;
    border-bottom:2px solid #c0c0c0;
}
h2 {
    font: bold 14px Arial;
	margin: 0;
	margin-bottom: 6px;
    color:#505050;
}
img {
	border: 0px solid white;
}
label {
    margin-right:7px;
}
/* ======================== */


.inputheight {
    height:23px;
}
#promobox_top1 {
    background:url('/images/border_top2.png') top left no-repeat;
    height:30px;
}
#promobox_top2 {
    padding:5px;
    font-size:16px;
    font-weight:bold;
    color:#777;
}
#promobox {
    padding:5px;
    border-right:1px solid #E1E1E1;
    border-left:1px solid #E1E1E1;
    height:165px;
}

#promobox_bottom {
    background:url('/images/border_bottom2.png') bottom left no-repeat;
    height:20px;
    text-align:center;
    margin-bottom:20px;
}

.promoboxnumbers a {
	border: 1px solid #94ACD2;
    background: #94ACD2;
	font-weight: bold;
	font-size: 10px;
	color: #fff;
	padding: 1px 2px 0px 2px;
	text-decoration:none;
    cursor:pointer;
    margin-right:0px;
}
.promoboxnumbers a.selected {
	background: #fff;
	color: #7f94b3;
    cursor:default;    
}
#dotted {
    height:20px;
    background:url('/images/dotted.gif') top left repeat-x;
}
#dotted2 {
    height:10px;
    background:url('/images/dotted.gif') top left repeat-x;
}
#dotted3 {
    background:url('/images/dotted.gif') bottom left repeat-x;
    padding-bottom:4px;
}

#programreferrals {
    float:left;
    width:320px;
    cursor:pointer;
}

#crumbs a {
    cursor:pointer;
}


#validateman {
    float:left;
    width:200px;
    cursor:pointer;
}


#sidePanel {
	float: right;
	width: 146px;
	padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background: url('/images/sidepanel_background.png') top left no-repeat;
}

#purchase1 {
    width:165px;
    float:left;
    text-align:center;
    margin-bottom:15px;
    margin-right:10px;
    border:1px solid #c0c0c0;
    background: white;
}
#purchase2 {
    padding:5px;
}

#purchase1 img {
    margin:10px 5px 0px 5px;    
}

#promotorlist div.a {
    background:url('/images/business.png') top left no-repeat;
    height:60px;
    cursor:pointer;
}

#promotorlist div.b {
    margin-left:70px;
    width:275px;
    cursor:pointer;
    clear:both;
}

#programlist div.a {
    height:60px;
    width:280px;
    cursor:pointer;
    clear:right;
    float:right;
}



#register input, #register textarea, .r{
    width:400px;
    float:right;
}

#register .l{
    width:20px;
    float:left;
}


#register p {
    clear:both;
    padding: 3px 0px 10px 0px;
    border-bottom: 1px solid #c0c0c0;
    font-size:11px;
    margin-bottom:10px;
    width:100%;
    background:transparent;
    color: #909090;
}

#register h2 {
    margin-top:30px;
}

#textlink p {    
    border:1px solid #c0c0c0;
    background: #f0f0f0;
    margin-bottom:10px;
    padding:5px;
}

#textlink span {
    font-size:10px;
    text-align:left;
}

#rotator {
    margin-top:20px;
    text-align:center;
}

#rotator img {
    border:1px solid $c0c0c0;
    margin-bottom:10px;
}

#rotator span {
    font-size:10px;
}

#clickadsopen {
    
}

#transactionoverview div {
    float:left;
    width:70px;
}

.dashboard {
	margin-bottom: 15px;
    border-bottom:1px solid #c0c0c0;
    border-top:1px solid #c0c0c0;
    background:#f0f0f0;
    padding:5px;
}

input.boldcenter {
    font-weight:bold;
    text-align:center;
}

#dashboardsub2 {
    padding:2px;
    cursor:pointer;
}

div.a {
    width:140px;
    float:left;
}

div.b {
    width:110px;
    float:left;
}

div.c {
    width:130px;
    float:left;
}
div.d {
    width:80px;
    float:left;
}
div.e {
    width:150px;
    float:left;
}
div.f {
    width:180px;
    float:left;
}
div.g {
    width:200px;
    float:left;
}

input.search {
    padding-left:25px;
    padding-right:20px;
}

.homeCont p {
	width: 500px;
    background:white;
}

.fr {
    float:right;
}

.fl {
    float:left;
}

.fl150 {
    float:left;
    width:150px;
}

.fakea {
    color:blue;
    cursor: pointer;
}
.fakea:hover {
    text-decoration:underline;
}
input.credits {
    text-align:center;
    width:50px;
}
.overlaybox1 {
    position:absolute;
    background:#f9f9f9; 
    border:3px solid #0079C1;
    z-index:200;
    
}
.overlaybox2 {    
    position:relative;
    padding:5px;
}
.overbox {
    background:#f0f0f0;
    border: 1px solid #c0c0c0;
    font-size:13px;
}
.strikethrough {
    text-decoration:line-through;
}

.strike {
    font-size:16px;
    font-weight:bold;
}

.strikebig {
    font-size:20px;
    font-weight:bold;
}
.posabs {
    position: absolute;
}

.posrel {
    position:relative;
}

.small {
    font-size:11px;
}

.normal {
    font-size:13px;
}

.cursor {
    cursor: pointer;
}

#searchtable td {
    border-bottom:1px solid white;
    padding:0px;
}
#searchtable input {
    width:100%;
    color:#c0c0c0;
    font-style:italic;
}
#searchtable input:focus {
    color:#3d3d3d;
    font-style:normal;
}
.searching {
    color:#3d3d3d;
    font-style:normal;
}
#searchtable img {
    cursor:pointer;
    margin-left:3px;
}

#searchtd {
    padding:1px 5px 1px 0px;
}

.clear {
	clear: both;
}

.inputsmall {
    width:70px;
}
.inputmedium {
    width:120px;
}
.inputlarge {
    width:200px;
}

#bidstyle input {
    width:50px;
    text-align:center;
    font-weight:bold;
}

#bidstyle button {
    height:24px;
}


.homeSection {
	margin-bottom: 15px;
	border-bottom: 1px solid #f2f2f2;
}


.sideicon {
	float: left;
	margin: 0px 10px 0px 0px;
}

.panelSection ul {
	margin: 0px;
	padding: 10px 0px 0px;
}
.panelSection ul li {
	list-style: none;
	margin: 0px;
	padding: 0px 0px 5px 30px;
	background: url("images/bullet.gif") 15px 6px no-repeat;
	color: #515151;
	font-size: 12px;
}
.panelSection ul li a {
	color: #515151;
}


.tableStyle {
	margin: 0px auto;
	text-align: left;
	margin-bottom: 15px;
    font-size:13px;
}
.tableStyle td {
	border-bottom: 1px solid #e8e8e8;
	padding: 3px 5px;
}

.tableStyle th {
    background: #94ACD2;
    color: white;
	text-align: left;
	padding: 4px 5px;
	font-size: 12px;
}
.pagination {
	background: url(../images/dotted.gif) repeat-x top left;
	height: 24px;
	line-height: 24px;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
    clear:right;
    margin-left:3px;
    margin-right:2px;
}
.pagination a {
	border: 1px solid #94ACD2;
    background: #94ACD2;
	font-weight: bold;
	font-size: 11px;
	color: #fff;
	padding: 2px 5px 1px 5px;
	text-decoration:none;
    cursor:pointer;
    margin-right:1px;
}
.pagination a.selected {
	background: #fff;
	color: #7f94b3;
    cursor:default;    
}
.pagination .inner {
	background: url(/images/dotted.gif) repeat-x bottom left;
}
.pagination a.prev, .pagination a.next {  
	float: left;
	background: #94ACD2;
	margin-top: 1px;
	display: block;
	font-size: 10px;
	color: #fff;
	height: 16px;
	line-height: 16px;    
}
.pagination a.next    { float: right; }
.pagination a.passive { 
	background: #f0f0f0;
    color:#999;
	border: 1px solid #f0f0f0;
	cursor: default;
	text-decoration: none;
}



.disabled {
    color:#909090;
}
.disabledbold {
    color:#909090;
    font-weight:bold;
    font-style:italic;
}

.blue {
    background:#EAEDF6;
    border:1px solid #C8CFE4;
    padding:5px;
}

.bold {
    font-weight:bold;
}

.legend {
	margin: 0px;
	padding: 0px;
}
.legend li {
	list-style: none;
}

.br2 {
    font-size:2px;
}
.br3 {
    font-size:3px;
}
.br5 {
    font-size:5px;
}
.br8 {
    font-size:8px;
}
.courier {
    font-family: "courier new";
    font-size:12px;
}
#googlered {
    background:#AF1F1F;
    color:white;
    padding:3px;
}
#googlered a {
    color:white;
    text-decoration:underline;
}
#googleorange {
    background:darkorange;
    color:white;
    padding:3px;
}
#googleorange a {
    color:white;
    text-decoration:underline;
}
#googlegreen {
    background:#DFF6BC;
    color:darkgreen;
    padding:3px;
}
#googlegreen a {
    color:white;
    text-decoration:underline;
}
input.checkbox,input.radio {
    border:0px solid white;
    vertical-align:middle;
    margin-left:0px;
}
.nowrap {
    white-space: nowrap;
}


	#middlebarr .menu li {
		background:url(/images/menu_lm.png) left top no-repeat;
		height:30px;
		float:left;
		margin-right:10px;
	}
	#middlebarr .menu li a{
		color:#3b5d14;
		text-decoration:none;
		padding:0 10px;
		height:30px;
		line-height:30px;
		display:block;
		float:left;
		padding:0 26px 0 10px;
		background:url(/images/menu_rm.png) right top no-repeat;
        cursor:pointer;
	}
	#middlebarr .menu li a:hover{
		color:#666666;
	}
#middlebarr ul .submenu {
	border:solid 1px #c9dea1;
	border-top:none;
	background:#FFFFFF;
	position: relative;
	top: 4px;
	width:150px;
	padding:6px 0;
	clear:both;
	z-index:2;
	display:none;
}
	#middlebarr ul .submenu li{
		background:none;
		display:block;
		float:none;
		margin:0 6px;
		border:0;
		height:auto;
		line-height:normal;
		border-top:solid 1px #DEDEDE;
	}
	#middlebarr .submenu li a{
		background:none;
		display:block;
		float:none;
		padding:6px 6px;
		margin:0;
		border:0;
		height:auto;
		color:#105cbe;
		line-height:normal;
        cursor:pointer;
	}
	#middlebarr .submenu li a:hover{
		background:#e3edef;
	}
    
    
#middlebar{
	font-size:12px;
	background:#42508B;
	font-weight:bold;
	padding:4px;
	height:30px;
}
#middlebar .outer {
    position:relative;
    float:left;
    height:30px;
    background:url(/images/menu_lm.png) left top no-repeat;
    margin-left:10px;
    cursor:pointer;
}
#middlebar .innerA {
    padding:0 0 0 15;
    line-height:30px;
    background:url(/images/menu_rm.png) right top no-repeat;
    float:right;
}
#middlebar .innerB {
    float:left;
    line-height:30px;
    padding:0 5 0 5;
}
#middlebar .submenu {
    position:absolute;
    background:url('/images/test.png');
    top:34px;
    margin-left:-4px;
    z-index:300;
    color:blue;
    font-size:13px;
}
#middlebar .submenu ul {
    padding:6px;
    padding-top:0px;
    border-top:none;
}
#middlebar .submenu li {
    border-top:solid 1px #DEDEDE;
    padding-left:8px;
    background:#F7F7F9;
    white-space: nowrap;
    padding-right:8px;
    line-height:14px;
    padding-top:8px;
    padding-bottom:8px;
}
#middlebar .submenu li span {
    color:#909090;
    font-size:11px;
}
#middlebar .submenu p {
    margin-left:20px;
    padding:0px;
}
#middlebar .submenu p a {
    font-size:11px;
}
.highlight {
    background:orange;
}

