/* CSS Document */
.innermaincontent
{
	min-height:635px;
}

body
	{
	margin:0px;
	padding:0px;
	font-size:12px;
	color:#006600;
	font-family:Arial, Helvetica, sans-serif;
	background:#6C955C url(../images/bdbg.jpg) repeat-x top;
	}
	
#frame
	{
	width:950px;
	margin:0px auto;
	/*border:1px solid #FF0000;*/
	}
	
#header
	{
	width:950px;
	/*height:130px;*/
	height:90px;
	float:left;
	}
	
#header .lang
	{
	width:395px;
	height:50px;
	float:left;
	margin:20px 0px 0px 0px;
	}
	
#header .fb
	{
	width:550px;
	height:50px;
	float:left;
	margin:20px 0px 0px 0px;
	}
	
#header .fb ul
	{
	margin:0px;
	padding:0px;
	list-style:none;
	float:right;
	}
	
#header .fb ul li
	{
	display: block;
	float:right;
	/*width:52px;*/
	height:18px;
	margin:0px 3px 0px 0px;
	}
	
	#header .fb ul li a
	{
	text-decoration:none;
	color:#0000ff;
	}
	
	#header .fb ul li a:hover
	{
	text-decoration:none;
	}
	
/*#header .fb ul li img
	{
	width:52px;
	height:18px;
	float:left;
	}	*/		
	
#header .logo
	{
	width:395px;
	height:55px;
	float:left;
	}
	
#header .search
	{
	width:550px;
	height:55px;
	float:left;
	}
		
#header .search .sbox
	{
	width:310px;
	height:30px;
	float:right;
	background: url(../images/sbxbg.jpg) no-repeat;
	margin:25px 12px 0px 0px;
	}
	
#header .search .sbox ul
	{
	margin:0px;
	padding:0px;
	list-style:none;
	}
	
#header .search .sbox ul li
	{
	display:block;
	float:left;
	height:30px;
	}
	
#header .search .sbox ul li input
	{
	width:270px;
	height:20px;
	float:left;
	margin:5px 0px 0px 5px;
	padding:0px;
	border:none;
	background:#517F3F;
	color:#336121;
	}
	
#header .search .sbox ul li img
	{
	width:23px;
	height:23px;
	float:left;
	margin:4px 0px 0px 3px;
	}
		
#menu
	{
	width:950px;
	height:78px;
	float:left;
	background:url(../images/menubg.jpg) no-repeat;
	}
	
#menu .dash
	{
	width:950px;
	height:35px;
	float:left;
	}
	
#menu .dash ul
	{
	margin:0px 0px 0px 530px;
	padding:0px;
	list-style:none;
	
	}
	
#menu .dash ul li
	{
	display:inline;
	}
	
#menu .dash ul li a
	{
	display:block;
	float:left;
	padding:8px 27px 7px 27px;
	font-size:16px;
	text-decoration:none;
	color:#FFCC00;
	text-transform:capitalize;
	}
	
#menu .dash ul li a:hover
	{
	color:#FFFFFF;
	}
		
#menu .list
	{
	width:950px;
	height:43px;
	float:left;
	}
	
#menu .list ul
	{
	margin:0px 0px 0px 25px;
	padding:0px;
	list-style:none;
	}
	
#menu .list ul li
	{
	display:inline;
	}
	
#menu .list ul li a
    {
	display:block;
	float:left;
	padding:14px 30px 13px 30px;
	text-decoration:none;
	color:#FFCC00;
	background:url(../images/seprtr.gif) no-repeat left;
	}
	
#menu .list ul li a:hover
	{
	color:#FFFFFF;
	}
	
#gallery
	{
	width:950px;
	height:270px;
	float:left;
	background:#1D490C;
	}
	
#container
	{
	width:950px;
	float:left;
	background:#1D490C;
	}
	
#container .lft
	{
	width:641px;
	float:left;
	margin:5px 0px 5px 5px;
	}
	
#container .lft .block
	{
	width:641px;
	float:left;
	clear:both;
	background:#F6F6EB;
	padding:0px 0px 5px 0px;
	min-height:540px;
	}	
	
#container .lft .block .ttle
	{
	width:641px;
	height:45px;
	float:left;
	background:url(../images/h1bg.jpg) no-repeat;
	}
	
#container .lft .block .ttle h1
	{
	margin:0px;
	padding:17px 0px 10px 20px;
	font-size:14px;
	color:#FFFFFF;
	font-family: Tahoma;
	background:url(../images/licon.gif) no-repeat right 71%;
	width:370px;
	}
	
#container .lft .block .descript
	{
	width:641px;
	float:left;
	margin:9px 0px 0px 0px;
	}
	
#container .lft .block .descript .dtop
	{
	width:641px;
	height:9px;
	float:left;
	background:url(../images/dtop.jpg) no-repeat;
	}
	
#container .lft .block .descript .dmid
	{
	width:641px;
	float:left;
	background:url(../images/dmid.jpg) repeat-y;
    }
	
#container .lft .block .descript .dmid p
	{
	margin:0px;
	padding:0px;
	color:#676052;
	margin:0px;
	padding:5px 20px 5px 20px;
	text-align:justify;
	line-height:20px;
	}
	
#container .lft .block .descript .dmid img
	{
	width:73px;
	height:65px;
	float:left;
	margin:0px 5px 0px 0px;
	}		
	
#container .lft .block .descript .dbtm
	{
	width:641px;
	float:left;
	background:url(../images/dbtm.jpg) no-repeat;
	height:9px;
	}
	
#container .lft .block .grnbar
	{
	width:641px;
	height:41px;
	float:left;
	background:url(../images/grnbar.jpg) no-repeat;
	margin:5px 0px 0px 0px;
	}
	
/* Descript */

#container .lft .block .descript_a
	{
	width:641px;
	float:left;
	margin:9px 0px 0px 0px;
	}
	
#container .lft .descript_a .dtop
	{
	width:641px;
	height:9px;
	float:left;
	background:url(../images/dtop.jpg) no-repeat;
	}
	
#container .lft .block .descript_a .dmid
	{
	width:641px;
	float:left;
	background:url(../images/dmid.jpg) repeat-y;
    }
	
#container .lft .block .descript_a .dmid .lst
	{
	width:541px;
	float:left;
	}
	
#container .lft .block .descript_a p
    {
	margin:0px;
	padding:0px;
	color:#676052;
	margin:0px;
	padding:5px 20px 5px 20px;
	text-align:justify;
	line-height:20px;
	}
	
#container .lft .block .descript_a .dmid .lst ul
	{
	margin:0px 0px 0px 30px;
	padding:0px;
	list-style:none;
	}
	
#container .lft .block .descript_a .dmid .lst ul li
	{
	display:inline;
	}
	
#container .lft .block .descript_a .dmid .lst ul li a
	{
	display:block;
	text-decoration:none;
	padding:5px 0px 5px 25px;
	font-size:13px;
	background:url(../images/lsticon.gif) no-repeat left 40%;
	color:#676052;
	}
	
#container .lft .block .descript_a .dmid .lst ul li a:hover
	{
	
	color:#2B8F04;
	 font-weight:bold;
	}				
	
#container .lft .block .descript_a .dmid .grph
	{
	width:100px;
	float:left;
	}
	
#container .lft .block .descript_a .dmid .grph img
	{
	width:78px;
	height:76px;
	float:left;
	margin:20px 0px 0px 0px;
	}			
	
#container .lft .block .descript_a .dbtm
	{
	width:641px;
	float:left;
	background:url(../images/dbtm.jpg) no-repeat;
	height:9px;
	}	
	
#container .lft .block .grnbar h1
	{
	margin:0px;
	padding:10px 0px 10px 20px;
	font-size:14px;
	color:#FFFFFF;
	font-family: Tahoma;
	}
	
#container .lft .block_a
	{
	width:641px;
	float:left;
	clear:both;
	background:#F6F6EB;
	margin:5px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	}
	
#container .lft .block_a .ttle
	{
	width:641px;
	height:45px;
	float:left;
	background:url(../images/h1bg.jpg) no-repeat;
	}
	
#container .lft .block_a .ttle h1
	{
	margin:0px;
	padding:17px 0px 10px 20px;
	font-size:14px;
	color:#FFFFFF;
	font-family: Tahoma;
	background:url(../images/licon.gif) no-repeat right 71%;
	width:370px;
	}	
	
#container .lft .block_a .descript
	{
	width:641px;
	/*height:200px;*/
	float:left;
	padding:0px 0px 10px 0px;
	}
	
/*#container .lft .block_a .descript img
	{
	width:628px;
	height:196px;
	float:left;
	margin:5px 0px 10px 7px;
	}*/		
	
#container .rgt
	{
	width:294px;
	/*height:800px;*/
	float:left;
	margin:5px 0px 0px 5px;
	}
	
#container .rgt .rttl
	{
	width:294px;
	float:left;
	background:#F6F6EB;
	}
	
#container .rgt .rttl .rhd
	{
	width:294px;
	height:45px;
	float:left;
	background:url(../images/rgtbg.jpg) no-repeat;
	}
	
#container .rgt .rttl .rhd h1
    {
	margin:0px;
	padding:17px 0px 10px 20px;
	font-size:14px;
	color:#FFFFFF;
	font-family: Tahoma;
	background:url(../images/licon.gif) no-repeat right 71%;
	width:190px;
	}
	
#container .rgt .rttl .des
	{
	width:294px;
	float:left;
	}
	
#container .rgt .rttl .des p
    {
	margin:0px;
	padding:0px;
	color:#676052;
	margin:0px;
	padding:5px 20px 5px 20px;
	text-align:justify;
	font-size:12px;
	line-height:20px;
	}
	
#container .rgt .rttl .des h2
	{
	margin:0px;
	padding:5px 10px 5px 0px;
	font-size:11px;
	text-align:right;
	text-transform:capitalize;
	font-style:italic;
	}
	
#container .rgt .rttl .des h2 a
	{
	text-decoration:none;
	color:#676052;
	}
	
#container .rgt .rttl .des h2 a:hover
	{
	color:#2EA003;
	}			
				
/**/
#container .rgt .rttl_a
	{
	width:294px;
	float:left;
	margin:5px 0px 0px 0px;
	background:#F6F6EB;
	}
	
#container .rgt .rttl_a .rhd
	{
	width:294px;
	height:45px;
	float:left;
	background:url(../images/rgtbg.jpg) no-repeat;
	}
	
#container .rgt .rttl_a .rhd h1
    {
	margin:0px;
	padding:17px 0px 10px 20px;
	font-size:14px;
	color:#FFFFFF;
	font-family: Tahoma;
	background:url(../images/licon.gif) no-repeat right 71%;
	width:120px;
	}
#container .rgt .rttl_a .rhd h2

    {
	margin:0px;
	padding:17px 0px 10px 18px;
	font-size:11px;
	color:#FFFFFF;
	font-family: Tahoma;
	}
		
#container .rgt .rttl_a .des
	{
	width:294px;
	float:left;
	}
	
#container .rgt .rttl_a .des p
    {
	margin:0px;
	padding:0px;
	color:#676052;
	margin:0px;
	padding:5px 20px 5px 20px;
	text-align:justify;
	font-size:12px;
	line-height:20px;
	}
	
#container .rgt .rttl_a .des h2
	{
	margin:0px;
	padding:5px 10px 5px 0px;
	font-size:11px;
	text-align:right;
	text-transform:capitalize;
	font-style:italic;
	}
	
#container .rgt .rttl_a .des h2 a
	{
	text-decoration:none;
	color:#676052;
	}
	
#container .rgt .rttl_a .des h2 a:hover
	{
	color:#2EA003;
	}
	
#container .rgt .login
	{
	width:294px;
	height:161px;
	float:left;
	background: url(../images/loginbg.jpg) no-repeat;
	margin:5px 0px 0px 0px;
	}
	
#container .rgt .login .lgn
	{
	width:294px;
	height:45px;
	float:left;
	}
	
#container .rgt .login .lgn h1
    {
	margin:0px;
	padding:17px 0px 10px 20px;
	font-size:14px;
	color:#FFFFFF;
	font-family: Tahoma;
	background:url(../images/licon.gif) no-repeat right 71%;
	width:70px;
	}
	
#container .rgt .login .form
	{
	width:294px;
	height:115px;
	float:left;
	}
	
#container .rgt .login .form .inpt
	{
	width:204px;
	height:30px;
	float:left;
	margin:7px 0px 0px 0px;
	}
	
#container .rgt .login .form .inpt input
	{
	width:130px;
	height:20px;
	float:left;
	margin:4px 0px 0px 30px;
	padding:0px;
	border: none;
	color:#6A905C;
	}
	
#container .rgt .login .form .inpt  p
    {
	margin:0px;
	padding:6px 0px 0px 110px;
	font-size:14px;
	color:#FFFFFF;
	font-weight:bold;
	text-transform:capitalize;
	}
	
#container .rgt .login .form .inpt  p a
    {
	text-decoration:none;
	color:#FFFFFF;
	}
	
#container .rgt .login .form .inpt  p a:hover
    {
	text-decoration:underline;
	}		
		
#container .rgt .login .form .btn
	{
	width:65px;
	height:30px;
	float:left;
	margin:7px 0px 0px 0px;
	}
	
#container .rgt .login .form .btn p
	{
	margin:0px;
	padding:6px 0px 0px 12px;
	font-size:14px;
	color:#FFFFFF;
	font-weight:bold;
	text-transform:capitalize;
	}
	
#container .rgt .login .form .btn p a
	{
	text-decoration:none;
	color:#FFFFFF;
	}
	
#container .rgt .login .form .btn p a:hover
	{
	text-decoration:underline;
	}
	
#container .addbanner
	{
	width:950px;
	height:110px;
	float:left;
	}
#container .addbanner img
	{
	width:940px;
	height:105px;
	float:left;
	margin:0px 0px 0px 5px;
	}
	
#footer
	{
	width:950px;
	height:44px;
	float:left;
	background:url(../images/footerbg.jpg) no-repeat;
	}
	
#footer ul
	{
	margin:16px 0px 0px 145px;
	padding:0px;
	list-style:none;
	}
	
#footer ul li
	{
	display:inline;
	}
	
#footer ul li a
	{
	display:block;
	float:left;
	font-size:11px;
	text-decoration:none;
	padding:0px 20px 0px 20px;
	color: #FFCC00;
	border-left:1px solid #FFCC00;
	}
	
#footer ul li a:hover
	{
	color:#FFFFFF;
	}	
																			
/* Dashboard Page */

#container .lft .block .ttle h1
	{
	margin:0px;
	padding:17px 0px 10px 20px;
	font-size:14px;
	color:#FFFFFF;
	font-family: Tahoma;
	background:url(../images/licon.gif) no-repeat right 71%;
	width:370px;
	}
	
#container .lft .block .descript .dmid
	{
	width:641px;
	float:left;
	background:url(../images/dmid.jpg) repeat-y;
    }
	
#container .lft .block .descript .dmid .dbrd
	{
	width:641px;
    float:left;
	}
	
#container .lft .block .descript .dmid .dbrd .earn
	{
	width:641px;
	height:50px;
	float:left;
	}
	
#container .lft .block .descript .dmid .dbrd .earn h1
	{
	margin:0px 0px 0px 20px;
	padding:10px 0px 10px 40px;
	font-size:20px;
	color:#376D8E;
	font-family:Tahoma;
	background:url(../images/dolor.jpg) no-repeat left;
	}
	
#container .lft .block .descript .dmid .dbrd .prgm
	{
	width:641px;
	float:left;
	}
					
#container .lft .block .descript .dmid .dbrd .prgm ul
	{
	margin:0px 0px 0px 30px;
	padding:0px;
	list-style:none;
	}
	
#container .lft .block .descript .dmid .dbrd .prgm ul li
	{
	display:inline;
	}
	
#container .lft .block .descript .dmid .dbrd .prgm ul li a
	{
	display:block;
	text-decoration:none;
	padding:5px 0px 5px 25px;
	font-size:13px;
	background:url(../images/lsticon.gif) no-repeat left 40%;
	color:#676052;
	}
	
#container .lft .block .descript .dmid .dbrd .prgm ul li a:hover
	{
	color:#2B8F04;
	 font-weight:bold;
	
	}				

#container .rgt .rting
	{
	width:294px;
	float:left;
	background:#F6F6EC;
	margin:5px 0px 0px 0px;
	padding:0px 0px 20px 0px;
	}
	
#container .rgt .rting h1
	{
	margin:0px;
	padding:5px 0px 5px 10px;
	font-size:16px;
	font-family:Tahoma;
	color:#376D8E;
	}
	
#container .rgt .rting ul
	{
	margin:0px;
	padding:0px;
	list-style:none;
	}
	
#container .rgt .rting ul li
	{
	display:inline;
	}
	
#container .rgt .rting ul li a
	{
	display:block;
	padding:3px 10px 3px 10px;
	margin:2px 40px 2px 40px;
	text-decoration:none;
	color:#FFFFFF;
	background:#406732;
	}
	
#container .rgt .rting ul li a:hover
	{
	background:#5B8F03;
	}
	
#container .rgt .msg
	{
	width:294px;
	float:left;
	margin:5px 0px 0px 0px;
	background:#FFFFFF;
	}
	
#container .rgt .msg h2
    {
	margin:0px;
	padding:20px 0px 30px 55px;
	margin:0px 0px 0px 20px;
	font-size:16px;
	font-family:Tahoma;
	color:#376D8E;
	background:url(../images/msg.gif) no-repeat left 50%;
	}
	
#container .rgt .msg h2 a
	{
	color:#376D8E;
	text-decoration:none;
	}
	
#container .rgt .msg h2 a:hover
	{
	text-decoration:underline;
	}
						
/*account statistics start*/

/*account statistics end */
					
/*added by bishal for form validation error*/
.errormsg
{
	color:#FF0000;
	margin-left:5px;
}
.message-block
{
	font-weight:bold;
}

div.innermaincontent .input-block
{
	margin-top:10px;
	
}
div.innermaincontent .input-block .label
{
	margin-bottom:5px;
	font-weight:bold;
	
}
input[type="text"],input[type="password"],input[type="select"]
{
	width:250px; height:20px;
}

div#test a /* message div*/
{
	color:#376D8E;
	text-decoration:none;
	
}
div#test a:hover
{
	text-decoration:underline;
}

.innermaincontent a:link
{
	text-decoration:none;
}

/*form validation error ends*/




































		